

<div class="container">
    <div class="mob__wraper">
    
      <a class="logo  link " href="./index.html">
          <svg class="logo--icon" width="50" height="50">
              <use href="./img/symbol-defs.svg#icon-logo-ice-f"></use>
          </svg>

          <span class="logo--text">ICECREAM</span>
      </a>
       
        <button class="burger" type="button" data-modal-open>
            <!-- <svg class="icon-Burger" width="20" height="15">
                <!-- <use href="./img/symbol-defs.svg#icon-Burger"></use> -->
            </svg>
             -->
        </button>

        <!-- desktop-menu -->
        <nav class="desk__nav">
          <ul class="desk__nav--list list">
              <li class="desk__nav--item">
                  <a class="desk__nav--link link active" href="#header">
                      Home
                  </a>
              </li>
              <li class="desk__nav--item">
                  <a class="desk__nav--link link" href="#about">
                      About us
                  </a>
              </li>
              <li class="desk__nav--item">
                  <a class="desk__nav--link link" href="#advantages">
                      How it’s made?
                  </a>
              </li>
              <li class="desk__nav--item">
                  <a class="desk__nav--link link" href="#products">
                      Our products
                  </a>
              </li>
              <li class="desk__nav--item">
                  <a class="desk__nav--link link" href="#contacts">
                      Contact
                  </a>
              </li>
          </ul>

      </nav>

      <a class="btn__buy__desk btn__buy__desk--size link" href="">
          Buy now
       </a>


    </div>
   
      <div class="container container--mob__menu">
      
          <!-- mob-menu -->
         <div class="backdrop__menu visually__hidden" data-modal>
             <div class="mob__menu" >
                 <button class="btn__mob__menu" type="button" data-modal-close>
                      <!-- <svg class="icon__close" width="15" height="15"> -->
                          <!-- <use href="./img/symbol-defs.svg#icon-close"></use> -->
                      <!-- </svg> -->
                  </button>
                 <a class="btn__buy btn__buy--size link" href="">
                     Buy now
                  </a>
                 <!-- mob-menu-nav -->
                 <nav class="mob__nav">
                     <ul class="mob__nav--list list">
                         <li class="mob__nav--item">
                             <a class="mob__nav--link link active" href="#header">
                                 Home
                             </a>
                         </li>
                         <li class="mob__nav--item">
                             <a class="mob__nav--link link" href="#about">
                                 About us
                             </a>
                         </li>
                         <li class="mob__nav--item">
                             <a class="mob__nav--link link" href="#advantages">
                                 How it’s made?
                             </a>
                         </li>
                         <li class="mob__nav--item">
                             <a class="mob__nav--link link" href="#products">
                                 Our products
                             </a>
                         </li>
                         <li class="mob__nav--item">
                             <a class="mob__nav--link link" href="#contacts">
                                 Contact
                             </a>
                         </li>
                     </ul>
  
                 </nav>
             </div>
         </div>
     </div>

  </div>
