 
   
    
                
<div class="container">
    

        <!-- mob-menu-nav -->
    <div class="mob__menu js-menu" id="mobile-menu">
        <button class="btn__mob__menu js-close-menu" type="button">
            <svg class="icon__close" width="20" height="20">
                <use href="./images/icon.svg#icon__close"></use>
            </svg>
        </button>
        <a class="btn__buy btn__buy--size link" href="">
            Buy now >
        </a>
        <nav class="mob__nav">
            <ul class="mob__nav--list list">
                <li class="mob__nav--item">
                    <a class="mob__nav--link link active" href="#header">
                        Home
                    </a>
                </li>
                <li class="mob__nav--item">
                    <a class="mob__nav--link link" href="#about">
                        About us
                    </a>
                </li>
                <li class="mob__nav--item">
                    <a class="mob__nav--link link" href="#advantages">
                        How it’s made?
                    </a>
                </li>
                <li class="mob__nav--item">
                    <a class="mob__nav--link link" href="#products">
                        Our products
                    </a>
                </li>
                <li class="mob__nav--item">
                    <a class="mob__nav--link link" href="#contacts">
                        Contact
                    </a>
                </li>
            </ul>

        </nav>
    </div>
</div>
           
        
                
            



